
h1{color:Purple; font.family:Arial Narrow;background-color:pink:}
h2{color:Plum;fond-family: arial narrow;}
p{background-color:white; color:purple; fond-family: arial narrow;}
table{background-color:Lavender; color:black;}
ul{color: purple;background-color: Beige;}
ol{color: blue;background-color: Beige;}
form{background-color:Lavender;color:Lavender; font-family:arial;}